<html>
    <head>
        <title>
            Associate Page
        </title>
        <body>
            <div>
                <form>
                    <label for="customersearch">Customer Search: </label><br>
                    <input type="text" id="customersearch" name="customersearch"><br>
                    <button type="submit">Search</button><br>
                </form>
            </div>
        </body>
    </head>
</html>